*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    background: #1f5a82;
}
.container{
    background: #ffffff;
    width: 400px;
    padding: 35px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
}
.coin{
    height: 200px;
    width: 200px;
    position:relative;
    margin: 32px auto;
    transform-style: preserve-3d;
}
.coin img{
    width: 100%;
    border-radius: 50%;
}
.heads, .tails {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
/*Ahora agregamos animación*/
@keyframes spin-tails {
    0%{
        transform:rotateX(0); /* rotateX ayuda a rotar la moneda según el eje X */
    }
    100%{
        transform: rotateX(1980deg);/* 1980+180=2160deg)*/
    }
}

@keyframes spin-heads {
    0%{
        transform:rotateX(0); /* rotateX ayuda a rotar la moneda según el eje X */
    }
    100%{
        transform:rotateX(2160deg);
    }
}

.stats{
    display: flex;
    background: white;
    color: #101020;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 55px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
.stats p:nth-last-child(1){
    margin-left: 50%;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 150px;
    padding: 15px 0;
    margin: 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background: #053469;
    color: white;
    box-shadow: 1px 1px 10px 1px white;
    transition: .3s;
}
#flip-button:hover{
    transform: scale(1.05);
}
#flip-button:disabled{
    background: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    background: #674706;
    color: white;
    box-shadow: 1px 1px 10px 1px white;
    transition: .3s;
}
#reset-button:hover{
    transform: scale(1.05);
}
